

<% include shared/share.ejs %>
<html>
<head>
<link rel="stylesheet" href="http://localhost:5000/login.css" />

</head>
<script src="http://localhost:5000/socket.io/socket.io.js"></script>
<script>

// var socket = io();
   $(function () {
   
 var socket = io();
   // socket.emit('join', {id: "detail.id"});
   console.log("SDSD",$("#ses").val());
   //   var socket = io();
    socket.emit('join', {id: $("#ses").val()});

       socket.on("new_msg", function(data) {
        alert(data);
     $("#msg").append(data.msg);
});
  });
   // function abc(detail){
   
   //  socket.emit('join', {id: detail.value});
   // }
</script>



<body>
<div class="container">
  <div class="row">
  <div class="col-md-2">
  <div class="mood" >
    <table class="table">
    <thead>
      <tr style="background-color: #8dee7c ">
        <th class='text-center'>Feeling ? </th>

      </tr>
    </thead>
    <tbody>
      <tr class="danger">
        <td style="border-left:2px solid pink">Angry</td>

      </tr >
      <tr class="success">
        <td>Happy</td>
      </tr>
      <tr class="warning">
         <td>Sad</td>
      </tr>
       <tr class="info">
         <td>Love</td>
      </tr>
       <tr class="Active">
         <td>Annoyed</td>
      </tr>
      <tr>
         <td>Amused </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>

  <div class="col-md-6" >

  <input type="hidden"  id= "ses" value ="<%- user.id %>" />

        <div class="jumbotron">
        <div class="row">
          <div class="col-md-6">
          <form class="form-horizontal" id="postForm">
             <div class="form-group">
               <!-- <label class="control-label col-sm-2" for="email">Feelig:</label> -->
               <div class="col-sm-10">
                 <textarea  class="form-control" id="feeling" placeholder="Tell your friends about your day"></textarea>
               </div>
             </div>
             <div class="form-group">
               <!-- <label class="control-label col-sm-2" for="pwd">Password:</label> -->
               <div class="col-sm-10">
                 <input type="file" class="form-control" id="file" placeholder="Enter password">
               </div>
             </div>

             <div class="form-group">
               <div class="col-sm-10">
                 <button type="submit" class="btn btn-success pull-right">Post</button>
               </div>
             </div>
   </form>
 </div>


 <div class="col-md-6">
         <div class="well" id="msg"></div>
 </div>



 </div>
        </div>
        <div class="media">

          <div class="media-left">
            <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:60px">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Left-aligned</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
      </div>

       <div class="media">
        <div class="media-body">
          <h4 class="media-heading">Right-aligned</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="media-right">
          <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:60px">
        </div>
      </div>


</div>

<div class=" col-md-4">
  <div class="jumbotron">
       <div class="checkbox">
    <% for(var i=0; i<user.length ; i ++){%>
      <label><input value="<%- user[i].id %>" onclick='abc(this)'  type="checkbox"> <%- user[i].email %> </label>
      <% } %>
  </div>
    <form>
      <div class="form-group">
               <!-- <label class="control-label col-sm-2" for="email">Feelig:</label> -->

               <div>
                 <input type='text'  class="form-control" id="feeling" placeholder="Tell your friends about your day" />
               </div>
             </div></form>
  </div>
</div>
</div>
</div>
</body>
</html>
